[Unit]
Description=Logfilterd
PartOf=logfilterd.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=15
ExecStart=/usr/bin/python3 /etc/logfilterd/logfilterd-runserver.py

[Install]
WantedBy=multi-user.target